@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  
}


.header {
    background-color: rgba(38, 70, 83, 1);
    width: 100%;


}



footer {
    background-color: aquamarine;
    height: 240px;
    background-color: rgb(6, 14, 57);
}