<section class="container d-lg-flex d-md-flex align-items-center  ">
    <div class=" header-description">
        <p class="fw-light text-white">Computer-controlled digital transistorized with electronic advance
        </p>
        <h1 class="fw-bold fs-1 text-white">Honda CBR 300R</h1>
        <div class="">
            <p class=" text-white fw-light"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet
                sint.
                Velit
                officia consequat
                duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>

        <!-- Button modal -->
        <button type="button" class="btn purchase-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Purchase
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bold" id="exampleModalLabel">Our Price</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            About CBR300R

                            Honda CBR300R is expected to launch in India in December 2021 in the expected
                            price range of ₹ 2,00,000 to ₹ 2,30,000. Currently available bikes which are
                            similar to CBR300R are KTM RC 200, Suzuki Gixxer SF 250 & Bajaj Dominar 400.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button " class="btn login-button " data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="header-img mt-5">
        <img class="img-fluid ps-5" src="images/header-bike.png" alt="">
    </div>

</section>